.maplibre-react--Map {
  position: absolute;
  inset:    0;
  overflow: hidden;
}

.maplibre-react--MapWrapper {
  position: absolute;
  top:      0;
  left:     0;
}


.maplibre-react--Marker {
  position: absolute;
  width:    0;
  height:   0;
  overflow: visible;
}

.maplibre-react--Marker.hidden {
  display:  none;
  overflow: hidden;
}