.maplibre-react--Map {
  position: absolute;
  inset: 0;
  overflow: hidden;

  pointer-events: auto;

  --maplibre-react--ControlPadding: 10px;
  --maplibre-react--ControlGap: 8px;
  --maplibre-react--ControlSize: 28px;
}

.maplibre-react--MapWrapper {
  position: absolute;
  top: 0;
  left: 0;

  pointer-events: auto;

}

.maplibre-react--Marker {
  position: absolute;
  width: 0;
  height: 0;
  overflow: visible;
}

.maplibre-react--Marker.hidden {
  display: none;
  overflow: hidden;
}

.maplibre-react--ControlGroup {
  display: flex;
  flex-direction: column;

  gap: var(--maplibre-react--ControlPadding);
  padding: var(--maplibre-react--ControlGap);
}

.maplibre-react--ControlGroup .maplibregl-ctrl,
.maplibregl-ctrl-top-left .maplibre-react--ControlGroup .maplibregl-ctrl,
.maplibregl-ctrl-bottom-left .maplibre-react--ControlGroup .maplibregl-ctrl,
.maplibregl-ctrl-top-right .maplibre-react--ControlGroup .maplibregl-ctrl,
.maplibregl-ctrl-bottom-right .maplibre-react--ControlGroup .maplibregl-ctrl {
  float: none;
  margin: 0;
}

.maplibre-react--ControlGroup.top-left,
.maplibre-react--ControlGroup.bottom-left {
  align-items: flex-start;
}

.maplibre-react--ControlGroup.top-right,
.maplibre-react--ControlGroup.bottom-right {
  align-items: flex-end;
}
