.maplibre-react--Map {
  position: absolute;
  inset:    0;
  overflow: hidden;

  --maplibre-react--ControlPadding: 10px;
  --maplibre-react--ControlGap: 10px;
  --maplibre-react--ControlSize: 28px;
}

.maplibre-react--MapWrapper {
  position: absolute;
  top:      0;
  left:     0;
}


.maplibre-react--Marker {
  position: absolute;
  width:    0;
  height:   0;
  overflow: visible;
}

.maplibre-react--Marker.hidden {
  display:  none;
  overflow: hidden;
}

.maplibre-react--ControlZone {
  display: flex;
  flex-direction: column;

  gap:     var(--maplibre-react--ControlPadding);
  padding: var(--maplibre-react--ControlGap);
}

.maplibre-react--ControlZone.top-left, .maplibre-react--ControlZone.bottom-left {
  align-items: flex-start;
}

.maplibre-react--ControlZone.top-right, .maplibre-react--ControlZone.bottom-right {
  align-items: flex-end;
}